/* @import '~antd/dist/antd.css'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

dl,
h1,
dd,
dt {
  margin: 0;
}

.photo-wrap {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.photo-wrap>.frame:last-child a {
  margin-right: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 0 32px 32px 0;
}

.img-area {
  position: relative;
  max-width: 200px;
  height: 198px;

}

.img-area .img-inner {
  max-width: 200px;
  height: 198px;
  overflow: hidden;
  border-radius: 25%;
}

.frame a.button-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 31px;
  height: 31px;
}

.frame img {
  width: 100%;
  height: auto;
}

.photo-desc {
  position: relative;
}



.img-area em {
  font-style: normal;
  font-size: 12px;
  background: mediumturquoise;
  padding: 1px 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 25%;
  position: absolute;
  top: 0;
  left: 0;
}